<!doctype html>
<html lang="en" ng-app="CookieMonitorApp" ng-csp>
<head>
	<title>Cookie Monitor - Options</title>	
	<meta charset="UTF-8">

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="/bower_components/ng-grid/ng-grid.min.css" />
	<!-- endbower -->

	<!-- grunt task bower-install does not get the following -->
	<link rel="stylesheet" href="bower_components/angular/angular-csp.css">
	<!-- endbuild -->

	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/popup.css">
	<link rel="stylesheet" href="styles/options.css">
	<!-- endbuild -->

</head>
<body>
	<header>
		<h3>Options</h3>
	</header>

	<div ng-controller="OptionsController">

		<form name="configForm">
			<div>
				<span>csv export all prefix:</span>
				<span><input name="eap" ng-model="config.csvExportAllPrefix" required></span>
				<span class="error" ng-show="configForm.eap.$error.required">Required!</span>
			</div>
			<div>
				<span>csv export selected prefix:</span>
				<span><input name="esp" ng-model="config.csvExportSelectedPrefix" required></span>
				<span class="error" ng-show="configForm.esp.$error.required">Required!</span>
			</div>
			<div>
				<span>csv export column seperator:</span>
				<span><input name="ecs" ng-model="config.csvExportColSep" ng-minlength="1" ng-maxlength="1" required></span>
				<span class="error" ng-show="configForm.ecs.$error.required">Required!</span>
				<span class="error" ng-show="configForm.ecs.$error.maxlength">Too long!</span>
			</div>
			<div>
				<span>csv export add timestamp suffix:</span>
				<span><input type="checkbox" name="ats" ng-model="config.csvExportDoAddTimestamp" ng-true-value="yes" ng-false-value="no"></span>
			</div>

			<button ng-click="saveConfig()" ng-disabled="!configForm.$valid">SAVE</button>
			<button ng-click="readConfig()">CANCEL</button>
			<button ng-click="resetConfig()">DEFAULTS</button>
			
		</form>

	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="/bower_components/jquery/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script src="/bower_components/ng-grid/build/ng-grid.min.js"></script>
	<script src="/bower_components/underscore/underscore.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js scripts/app.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/cookie-detail-directive.js"></script>
	<script src="scripts/cookie-event-service.js"></script>
	<script src="scripts/popup-controller.js"></script>
	<script src="scripts/options-controller.js"></script>
	<script src="scripts/csv-export-service.js"></script>
	<script src="scripts/config-service.js"></script>
	<!-- endbuild -->

</body>
</html>