<!doctype html>
<html lang="en" ng-app="CookieMonitorApp" ng-csp>
<head>
	<title>Cookie Monitor - Options</title>	
	<meta charset="UTF-8">

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="/bower_components/ng-grid/ng-grid.min.css" />
	<!-- endbower -->

	<!-- grunt task bower-install does not get the following -->
	<link rel="stylesheet" href="bower_components/angular/angular-csp.css">
	<!-- endbuild -->

	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/popup.css">
	<link rel="stylesheet" href="styles/options.css">
	<!-- endbuild -->

</head>
<body>

	<header>
		<h3>Cookie Monitor Options</h3>
	</header>

	<div id="options" ng-controller="OptionsController">

		<form name="configForm">

			<fieldset>
				<legend>CSV Export:</legend>
				<div>
					<label for="eap">export all file prefix:</label>
					<input name="eap" ng-model="config.csvExportAllPrefix" required size="50">
					<div class="error" ng-show="configForm.eap.$error.required">error: value required!</div>
		
				</div>

				<div>
					<label for="esp">export selected file prefix:</label>
					<input name="esp" ng-model="config.csvExportSelectedPrefix" required size="50">
					<div class="error" ng-show="configForm.esp.$error.required">error: value required!</div>
				</div>
				
				<div>
					<label for="ats">add timestamp suffix to the filename?:</label>
					<input type="checkbox" name="ats" ng-model="config.csvExportDoAddTimestamp" ng-true-value="yes" ng-false-value="no">
				</div>
			</fieldset>

			<br/>
	
			<fieldset>
				<legend>Elasticsearch:</legend>
				<div>
					<label for="eees">enable elasticsearch upload:</label>
					<input type="checkbox" name="eees" ng-model="config.elasticsearchEnableExport" ng-true-value="yes" ng-false-value="no">
				</div>
				<div>
					<label for="esurl">elasticsearch url:</label>
					<input type="url" name="esurl" ng-model="config.elasticsearchUrl" size="50">				
				</div>
			</fieldset>

			<button ng-click="saveConfig()" ng-disabled="!configForm.$valid" class="submit">SAVE</button>
			<button ng-click="readConfig()">CANCEL</button>
			<button ng-click="resetConfig()">DEFAULTS</button>
			
		</form>

	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="/bower_components/jquery/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
	<script src="/bower_components/ng-grid/build/ng-grid.min.js"></script>
	<script src="/bower_components/underscore/underscore.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js scripts/app.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/cookie-detail-directive.js"></script>
	<script src="scripts/cookie-event-service.js"></script>
	<script src="scripts/popup-controller.js"></script>
	<script src="scripts/options-controller.js"></script>
	<script src="scripts/csv-export-service.js"></script>
	<script src="scripts/config-service.js"></script>
	<!-- endbuild -->

</body>
</html>